DB_HOST=localhost
DB_PORT=3306
DB_NAME=volunteer_flow
DB_USERNAME=volunteerflow
DB_PASSWORD=replace_with_local_password
APP_ENV=dev
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
REDIS_DATABASE=0
REDIS_CONNECT_TIMEOUT=1s
REDIS_COMMAND_TIMEOUT=2s
